# Node.js
node_modules/
dist/
.angular/
.cache/

# Logs
*.log

# IDE files
.vscode/
.vs/
.DS_Store

# Ignore build artifacts
bin/
obj/

# Ignore other common files
*.user
*.lock
*.suo
*.pdb
*.cache
*.csproj.user